.board {
    display: flex;
    width: 70%;
    height: 80%;
    border: solid 1px rgb(246, 255, 0);
    flex-direction: column;
    .buttonsScreen {
        display: flex;
        width: 100%;
        height: 50%;
        .audioScreen {
            display: flex;
            width: 80%;
            height: 100%;
            overflow: hidden;
        }
        .arrow {
            display: flex;
            width: 10%;
            height: 100%;
            color: yellow;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            cursor: pointer;
        }
        .arrow:hover {
            h2 {
                transform: scale(1.5);
            }
        }
    }
    .speedBtn {
        display: flex;
        width: 100%;
        height: 40%;
        border: solid 1px rgb(246, 255, 0);
        justify-content: space-around;
        align-items: center;
        button {
            width: 120px;
            height: 60px;
            border: solid 1px black;
            background-color: aqua;
            font-size: 30px;
            border-radius: 10px;
            cursor: pointer;
        }
        button:hover {
            transform: scale(1.1);
            background-color: yellow;
        }
    }
    .pauseBtn {
        width: 100%;
        height: 10%;
        background-color: aqua;
        font-size: 30px;
        cursor: pointer;
    }
    .pauseBtn:hover {
        background-color: yellow;
        color: black;
    }
}
